.pButton {
    background-color: #bfbfbf;
    color: #808080;
    font-size: 17px;
    font-weight: bold;
    width: 110px;
    height: 25px;
    text-align: center;
}

.pButton:hover {
    cursor: pointer;
}